.lista_uczniow{
  display: flex;
  flex: 1 1 0;
  background-color: cadetblue;
  width: 100%;
}
.naglowek{
  display: flex;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 2px 1px 4px 1px;
}
